<router-outlet>

  <div *mobxAutorun>

    <div [ngClass]="phaseStore.styleClass">
      <div>
        current phase: {{phaseStore.name}}
      </div>

      <br>

      <button (click)="phaseStore.next()">
        go to next phase
      </button>
    </div>

    <div>
      <br />
      Users: (You are <strong>{{me.name}}</strong>)
      <br />
      <br />
      <div *ngFor="let user of userStore.users">

        <div style="height: 30px;">

          <span>
            {{user.name}}
          </span>

          <span *ngFor="let phaseAction of user.role.actionMap">

            <span *ngIf="true">
              <!-- is current phase equal to the phaseAction phase -->
              <span *ngIf="true">
                <!-- if this user is a legit target for my action -->

                <span *ngFor="let action of phaseAction.actions">

                  <button (click)="stackStore.addActionToStack(user, action)">

                    Do {{action.name}}

                  </button>

                </span>
              </span>

            </span>

          </span>
        </div>

      </div>

    </div>
    <br />
    <button (click)="stackStore.getStack()">Inspect stack</button>
  </div>

</router-outlet>