<router-outlet>

  <div *mobxAutorun>

    <div [ngClass]="phaseStore.styleClass">
      <div>
        current phase: {{phaseStore.name}}
      </div>

      <br>

      <button (click)="phaseStore.next()">
        go to next phase
      </button>
    </div>

    <div>

      Roles

      <div *ngFor="let role of roleStore.roles">

        <div>
          {{role.name}}
        </div>

        <div *ngFor="let phaseAction of role.actionMap">

          <div *ngIf="true">

            <!-- is current phase equal to the phaseAction phase -->

            <div *ngFor="let action of phaseAction.actions">

              <button (click)="stackStore.addActionToStack(role, action)">

                Do {{action.name}}

              </button>

            </div>

          </div>

        </div>

      </div>

    </div>
    <button (click)="stackStore.getStack()">Inspect stack</button>
  </div>

</router-outlet>