<router-outlet>

  <div *mobxAutorun>

    <div [ngClass]="phaseStore.styleClass">
      <div>
        current phase: {{gameStateStore.gameState.currentPhase.name}}
      </div>
      <div>
        <!-- Timer: {{phaseStore.currentPhase.timerDuration ? true : false}} -->
        <countdown #cd [config]="phaseStore?.currentPhase?.countdownConfig" (event)="phaseStore.next()"></countdown>
      </div>

      <br>

      <button (click)="phaseStore.next()">
        go to next phase
      </button>
    </div>

    <div>
      <br />
      Users: (You are <strong>{{me.name}}</strong> and your role is <strong>{{me.role.name}}</strong>)
      <br />
      <br />
      <div *ngFor="let target of gameStateStore?.gameState?.aliveUsers; index as i">

        <div style="height: 30px;">

          <span>
            ({{i + 1}}) {{target.name}}
          </span>

          <span *ngFor="let phaseAction of me.role.actionMap">

            <!-- If action is enabled during the current phase -->
            <span *ngIf="isActionEnabledDuringPhase(phaseAction)">

              <span *ngFor="let action of phaseAction.actions">

                <!-- If the target for the action is allowable -->
                <span *ngIf="stackService.isTargetUserAllowableForAction(me, target, action)">

                  <button (click)="stackStore.addActionToStack(me, target, action)">

                    Perform {{action.name}}

                  </button>

                </span>
              </span>

            </span>

          </span>
        </div>

      </div>

    </div>

    <div style="padding-top: 20px;">
      Dead Users:
      <div *ngFor="let dead of gameStateStore?.gameState?.deadUsers; index as i">
        <span *ngIf="dead">{{dead.name}}</span>
      </div>
    </div>
    <br />
    <span>Stack:</span>
    <pre>{{stackStore.stack | json}}</pre>
  </div>

</router-outlet>